body
{
    color: brown;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: #363332;
}
#cabecera
{
    background: brown;
    box-shadow: 2px 1px 84px -9px rgba(240,17,17,0.49);
    -webkit-box-shadow: 2px 1px 84px -9px rgba(240,17,17,0.49);
    -moz-box-shadow: 2px 1px 84px -9px rgba(240,17,17,0.49);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    font-size: 2em;
}
#cabecera #tagline
{
    padding: 0,0,0,1em;
    font-weight: normal;
    font-size: 0.5em;

}
#cabecera #logo 
{
    width: 80px;
    vertical-align: middle;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: auto;
    background: white;
    align-items: middle;
    align-self: middle;
    vertical-align: middle;
}
#post h1
{
    font-size: 20px;
}
#post
{
    
}
#footer
{
    text-align: center;
    padding: 1em;
    border: #000;
    background: #17a72a;
    color: aqua;
}